<div class="mb-4 border-bottom shadow-sm fixed-top">
  <header
    class="d-flex flex-wrap justify-content-center items-content-center bg-light py-3 px-2"
  >
    <a
      href="/"
      class="d-flex align-items-center mx-md-auto text-dark text-decoration-none"
    >
      <span class="fs-3 fw-bolder text-warning">MyShop</span>
    </a>
  </header>

  <nav class="py-2 bg-light d-none d-md-block px-2">
    <div class="d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item">
          <a href="/" class="nav-link text-dark">Home</a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle link-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a href="/auth/login" class="nav-link link-dark px-2">Login</a>
            </li>
            <li>
              <a href="/auth/logout" class="nav-link link-dark px-2">Logout</a>
            </li>
            <li>
              <a class="dropdown-item" href="/myShop/brand/create"
                >Create Brand</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/myShop/category/create"
                >Create Category</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/myShop/product/create"
                >Create Product</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
