<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/head'); -%>
  <body>
    <%- include('./admin_header'); -%>
    <main>
      <div class="container px-2 py-2">
        <div class="row">
          <div class="col-6 mx-auto">
            <form method="POST" class="mb-3">
              <h1 class="mb-3"><%= title %></h1>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Name"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <% if(errors) {%>
            <ul>
              <% for(let error of errors) { %>
              <p class="text-danger" role="alert"><%= error.msg %></p>
              <% } %>
            </ul>
            <% } %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
