<div class="mb-4 border-bottom shadow-sm fixed-top">
  <header
    class="d-flex flex-wrap justify-content-between items-content-center bg-light py-3 px-2"
  >
    <button
      class="d-md-none btn btn-outline-warning open-sidenav"
      type="button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </button>
    <a
      href="/"
      class="d-flex align-items-center mx-md-auto text-dark text-decoration-none"
    >
      <span class="fs-3 fw-bolder text-warning">MyShop</span>
    </a>

    <button class="btn btn-cart">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-cart-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
    </button>
  </header>
  <nav class="py-2 bg-light d-none d-md-block px-2">
    <div class="d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item">
          <a href="/" class="nav-link text-dark">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle link-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Shop By
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/myShop/categories">Categories</a>
            </li>
            <li>
              <a class="dropdown-item" href="/myShop/brands">Brands</a>
            </li>
            <li>
              <a class="dropdown-item" href="/myShop/products">All Products</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle link-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Fresh Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="/myShop/category/6230aa8b5427de2acd06e0a2"
                >Fresh Fruits</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/myShop/category/6230aa8b5427de2acd06e0a4"
                >Vegetables</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle link-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dairy And Eggs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="/myShop/category/6230aa8b5427de2acd06e0a6"
                >Cheese</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle link-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if(!user) { %>
            <li>
              <a
                class="dropdown-item"
                href="/auth/login"
                class="nav-link link-dark px-2"
                >Login</a
              >
            </li>
            <% } else {%>
            <li>
              <a
                class="dropdown-item"
                href="/auth/logout"
                class="nav-link link-dark px-2"
                >Logout</a
              >
            </li>
            <% } %>
            <li>
              <a class="dropdown-item" href="/myShop/brand/create"
                >Create Brand</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/myShop/category/create"
                >Create Category</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/myShop/product/create"
                >Create Product</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
